
[submodule "furclib"]
	path = furclib
	url = git://github.com/StarShip-Avalon-Projects/FurcLib.git
	
[submodule "UnitTests"]
	path = UnitTests
	url = git://github.com/StarShip-Avalon-Projects/UnitTests.git