
[submodule "furclib"]
	path = furclib
	url = https://github.com/StarShip-Avalon-Projects/FurcLib.git
[submodule "UnitTests"]
	
	path = UnitTests
	url = https://github.com/StarShip-Avalon-Projects/UnitTests.git