<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!-- Furcadia Executable -->
    <add key="DefaultCliemt" value="Furcadia.exe"/>

    <!--Furcadia Proggrams Parent Paths -->
    <add key="RegistryPathX86" value="SOFTWARE\Dragon's Eye Productions\Furcadia\"/>
    <add key="RegistryPathX64" value="SOFTWARE\Wow6432Node\Dragon's Eye Productions\Furcadia\"/>
    <add key="RegistryPathMono" value="Software/Dragon's Eye Productions/Furcadia/"/>

    <!-- Server Connection Information -->
    <add key="GameServerHost" value="lightbringer.furcadia.com"/>
    <add key="PounceServerHost" value="on.furcadia.com/q"/>
    <add key="GameServerIP" value="72.52.134.168"/>
  </appSettings>
</configuration>
